@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.component {
    height: 100%;
    width: 100%;
}
  
/* ------------LANDING SECTION------------- */

.component.landing img{
    height: 15%;
    padding: 10px;
    margin: 50px;
    opacity: 80%;
}

.component.landing {
    background-image: url("./../images/back.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color:rgb(255, 255, 255);
   
}

.component.landing h1 {
    color: black;
    margin: 0px 100px 0px 0px;
    text-align: right;
    font-size: 100px;
    font-family:'Major Mono Display', monospace;
}


/* ---------INFO SECTION-------------------- */

.component.info {
    background: linear-gradient(233deg, rgba(71,242,245,1) 0%, rgba(94,13,158,1) 0%, rgba(159,57,151,1) 100%);
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px){
    .component.info{
        flex-direction: column;
    }
}

.component.info h1 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}

.textBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: auto 50px auto 50px;
    justify-content: center;
    height: 50%;
    max-height: 600px;
    min-width: 200px;
    padding: 3px 10px 3px 10px;
    -ms-flex: 1;
    flex: 1;
  }

.textBox h2{
    color: black;
    
    font-size: 30px;
    margin: 5% 0% 10% 0%;
}

.textBox p{
    font-size: 20px;
    color: black;
}

#leftBox{
    color: chartreuse;
}

#centerBox{
    color: chartreuse;
}

#rightBox{
    color: chartreuse;
}
  
/* -----------PROJECTS SECTION------------- */

  .component.projects {
    background-color: rgb(142, 209, 209);;
}

.component.projects h1 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}
  