@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.component {
    height: 100%;
    width: 100%;
}
  
/* ------------LANDING SECTION------------- */

.logo {
    height: 10vh;
    padding: 10px;
    margin: 50px;
    opacity: 80%;
}

.component.landing {
    background-image: url("./../images/back.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color:rgb(255, 255, 255);
}


/* ---------INFO SECTION-------------------- */


.component.info {
    background: linear-gradient(233deg, rgba(71,242,245,1) 0%, rgba(94,13,158,1) 0%, rgba(159,57,151,1) 100%);
    margin: auto;
}

.infoHeader h1 {
    color: black;
    font-size: 10vh;
    font-family:'Major Mono Display', monospace;
    text-align: right;
    margin: auto 50px 100px 50px;
    padding-top: 50px;
    
}

.infoRow{
    display: flex;
    flex-direction: row;
}

.infoRow h1 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}

.textBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto 50px auto 50px;
    justify-content: center;
    height: 400px;
    min-width: 400px;
    padding: 10px 70px 3px 70px;
    -ms-flex: 1;
    flex: 1;
  }

.textBox h2{
    color: rgb(238, 195, 232);
    font-weight: bold;
    font-size: 30px;
    margin: 5% 0% 10% 0%;
}

.textBox p{
    font-size: 20px;
    color: rgb(238, 195, 232);
    min-height: 300px;
    text-align: left;
}

#leftBox{
    color: chartreuse;
}

#centerBox{
    color: chartreuse;
}

#rightBox{
    color: chartreuse;
}
  
/* -----------PROJECTS SECTION------------- */

  .component.projects {
    background-color: rgb(142, 209, 209);;
}

.component.projects h1 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}
  
@media (max-width: 1150px){
    .component.info{
        flex-direction: column;
    }

    .component.landing h1{
        font-size: 50px;
        margin: auto;
    }

    .textBox{
        margin: 20px
    }
}
