@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.component {
    height: 100%;
    width: 100%;
}
  
/* ------------LANDING SECTION------------- */

.logo {
    height: 20vh;
    margin: auto;
    margin: 10vh;
}

.component.landing {
    background-size: cover;
    background-repeat: no-repeat;
   /* background-image: url("https://live.staticflickr.com/65535/50517241207_86b2096889_o.jpg");*/
}

#landingVideo{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    
}
    @media (min-aspect-ratio: 16/9) {
        #landingVideo {
            width:100%;
            height: auto;
        }
    }
    @media (max-aspect-ratio: 16/9) {
        #landingVideo { 
            width:auto;
            height: 100%;
        }
    }

/* ---------INFO SECTION-------------------- */


.component.info {
    background: linear-gradient(233deg, rgba(71,242,245,1) 0%, rgba(94,13,158,1) 0%, rgba(159,57,151,1) 100%);
    margin: auto;
}

.infoHeader p {
    color: rgb(54, 2, 85);
    font-size: 4vh;
    font-family:'Major Mono Display', monospace;
    text-align: right;
    margin: auto 50px 0px 50px;
    padding-top: 50px;
}

.infoHeader h1 {
    color: rgb(54, 2, 85);
    font-size: 10vh;
    font-family:'Major Mono Display', monospace;
    text-align: right;
    margin: auto 50px 100px 50px;
    
}

    @media (max-width:400px){
        .infoHeader p {
            color: rgb(54, 2, 85);
            font-size: 3vh;
            font-family:'Major Mono Display', monospace;
            text-align: right;
            margin: auto 50px 0px 50px;
            padding-top: 50px;
        }
        
        .infoHeader h1 {
            color: rgb(54, 2, 85);
            font-size: 6vh;
            font-family:'Major Mono Display', monospace;
            text-align: right;
            margin: auto 50px 50px 50px;
            
        }
    }

.infoRow{
    display: flex;
    flex-direction: row;
}

.infoRow h1 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}

.textBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: auto 50px auto 50px;
    justify-content: center;
    height: 400px;
    min-width: 400px;
    padding: 10px 70px 3px 70px;
    -ms-flex: 1;
    flex: 1;
  }

.textBox h2{
    color: rgb(238, 195, 232);
    font-weight: bold;
    font-size: 30px;
    margin: 5% 0% 10% 0%;
}

.textBox p{
    font-size: 20px;
    color: rgb(238, 195, 232);
    min-height: 300px;
    text-align: left;
}

#leftBox{
    color: chartreuse;
}

#centerBox{
    color: chartreuse;
}

#rightBox{
    color: chartreuse;
}
  
/* -----------PROJECTS SECTION------------- */

  .component.projects {
    background-color: rgb(255, 255, 255);;
}

.component.projects h1 {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
}
  
@media (max-width: 1500px){ /* -----------1500 PX------------- */
    .textBox{
        margin: auto 10px auto 10px;
        min-width: 100px;
    }

    .textBox h2{
        color: rgb(238, 195, 232);
        font-weight: bold;
        font-size: 25px;
        margin: 5% 0% 10% 0%;
    }
    
    .textBox p{
        font-size: 18px;
        color: rgb(238, 195, 232);
        min-height: 300px;
        text-align: left;
    }
}

@media (max-width: 1255px){ /* -----------1255 PX------------- */
    .textBox{
        padding: 10px 30px 3px 30px;
        min-width: 100px;
    }

    .textBox h2{
        color: rgb(238, 195, 232);
        font-weight: bold;
        font-size: 25px;
        margin: 5% 0% 10% 0%;
    }
    
    .textBox p{
        font-size: 18px;
        color: rgb(238, 195, 232);
        min-height: 300px;
        text-align: left;
    }
}

@media (max-width: 800px){ /* -----------800 PX------------- */
    .infoRow{
        flex-direction: column;
    }

    .component.landing h1{
        font-size: 50px;
        margin: auto;
    }

    .textBox{
        margin: 20px
    }
}
